<p id="notice"><%= notice %></p>

<p>
  <strong>Art:</strong>
  <%= @artwork.art %>
</p>

<p>
  <strong>Title:</strong>
  <%= @artwork.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @artwork.artist %>
</p>

<p>
  <strong>Price:</strong>
  <%= @artwork.price %>
</p>


<p>
  <strong>Description:</strong>
  <%= @artwork.description %>
</p>

<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>
