<head>



    <title>Artistly | Your Store, Your Love, Your Art</title>



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->









    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="img-responsive fill" width="100%"><%= image_tag("welcomePage/potteryPieces.jpg") %></div>
                <div class="carousel-caption">
                    <h2 class="caro-text">Find works, Sell works, Love works!</h2>
                </div>
            </div>
            <div class="item">
                <div class="img-responsive fill" width="100%"><%= image_tag("welcomePage/sunflower-florin-coman.jpg") %></div>
                <div class="carousel-caption">
                    <h2 class="caro-text">See how other artists around you are enjoying the world too!</h2>
                </div>
            </div>
            <div class="item">
                <div class="img-responsive fill" width="100%"><%= image_tag("welcomePage/artPainter.png") %></div>
                <div class="carousel-caption">
                    <h2 class="caro-text">Enjoy! Even if your passion is painting, drawing, photographing, or pottery!</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <div class="logo-page"><%= image_tag("logo_png_color_100px.png")%></div>
    <center>
        <h1 class="page-header">Bringing you a new edge to shop and sell anywhere, anyplace, anytime.</h1><br>
    </center>











    <!-- Page Content -->
<div class="container">

        <!-- Marketing Icons Section -->


        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">

                <h2 class="page-header">Featured listings for Artists!</h2>

                <h2 class="page-header">Featured listings for <%= Time.now.strftime("%B %e, %Y") %></h2>

            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" <%= image_tag("artwork/imgres.jpg")%>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" <%= image_tag("artwork/pt4.jpg")%>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" <%= image_tag("artwork/pt1.jpg")%>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" <%= image_tag("artwork/dr1.jpg")%>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" <%= image_tag("artwork/pt2.jpg")%>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" <%= image_tag("artwork/pt3.jpg")%>
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Artistly is more than just a store</h2>
            </div>
            <div class="col-md-6">
                <p>There is more to just buying and selling when shopping. At Artistly you can:</p>
                <ul>
                    <li>Sell your work to people around the globe
                    </li>
                    <li>Be insprired by those around you</li>
                    <li>Search locally of those near, and those afar</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
            </div>
            
            <div class="imageBox col-md-4">
                <img class="img-responsive" <%= image_tag("artwork/revo1.jpg")%>
                </div>
            </div>
        <!-- /.row -->
        <hr>

        </div>

</div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>



</body>



</html>











